---
title: "Page not found"
layout: base.njk
---

<h1 class="text-2xl text-center font-bold mb-3 md:mb-5">{{ title }}</h1>
<p>This page was not found, click in the navbar or go back to the <a class="text-blue-600 underline dark:text-blue-500 hover:no-underline" href="/">start page</a>.<p>