<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>{{ title | safe }}</h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; Modesto Software {% year %}</p>
  </footer>
</body>
</html>