<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }} | Modesto Software</title>
    {% else %}
    <title>Modesto Software</title>
    {% endif %}

    <meta name="description" content="{{metaDescription}}">

    <meta
      class="meta-theme"
      name="theme-color"
    />
    <meta
      class="meta-theme"
      name="color-scheme"
    />

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/modesto_software_favicon_for_light_mode.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/modesto_software_favicon_for_dark_mode.ico" media="(prefers-color-scheme: dark)">

    <link href="/output.css" rel="stylesheet">
    <link href="/css/print.css" rel="stylesheet" media="print"/>
    <link href="/css/boxicons.min.css" rel="stylesheet">

    {% if css %}
    <link rel="stylesheet" href="{{css}}" />
    {% endif %}

    <link rel="stylesheet" href="/css/cookieconsent.css">

    {% for jsFilePath in jsModuleFiles %}
    <script type="module" src="{{ jsFilePath }}"></script>
    {% endfor %}

    <script type="module" src="/js/themeToggle.js"></script>

    {% for jsFilePath in jsScriptFiles %}
    <script src="{{ jsFilePath }}"></script>
    {% endfor %}

    {% for jsFilePath in jsScriptAsyncFiles %}
    <script src="{{ jsFilePath }}" async defer></script>
    {% endfor %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z0NSCWVSKK"></script>
    <script type="text/plain" data-category="analytics">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-Z0NSCWVSKK');
    </script>
  </head>
  <body class="flex flex-col min-h-screen">
    <script type="module" src="/js/cookieconsent-config.js"></script>
    <!-- Header -->
    <header class="bg-base-200">
      <div class="navbar pl-1 pr-4 md:px-6">

        <!-- Desktop menu -->
        <div class="navbar-start hidden md:flex flex-wrap items-center justify-between py-2">
          <div class="hidden md:flex flex-wrap items-center space-x-4">
            {% for menuItem in menuItems %}
              <a href="{{ menuItem.link }}" class="btn btn-sm sm:btn-md btn-primary">{{ menuItem.name }}</a>
            {% endfor %}
          </div>
        </div>

        <!-- Mobile menu -->
        <div class="navbar-start md:hidden">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn"><i class="bx bx-menu bx-sm"></i></div>
            <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-300 rounded-box w-52 border border-gray-300">
            {% for menuItem in menuItems %}
              <li>
                <a href="{{ menuItem.link }}">{{ menuItem.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <!-- Theme toggle and logo -->
        <div class="navbar-end hidden" id="theme-toggle-container">
          <div class="flex items-center space-x-3 md:space-x-6">
            <!-- Theme Toggle -->
            <label for="theme-toggle" class="sr-only">Toggle Theme</label>
            <input type="checkbox" class="toggle toggle-sm md:toggle-md" id="theme-toggle"/>

            <!-- Company Logo -->
            <a href="/" class="flex items-center">
              <img src="" alt="Company Logo" id="navbar-logo" class="w-10 md:w-14 h-auto"/>
            </a>
          </div>
        </div>

      </div>
    </header>

    <!-- Main Content Area -->
    <main class="flex-grow flex justify-center">
      <div id="main-container" class="w-10/12 md:w-8/12 pt-4 pb-6 md:pt-6 md:pb-8">
        {% if pageHeader %}
        <h1 class="text-2xl text-center font-bold mb-2">{{ pageHeader }}</h1>
        {% endif %}
        {% if subHeader %}
        <h2 class="text-xl text-center mb-3">{{ subHeader }}</h2>
        {% endif %}
        {{ content | safe }}
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-base-200 p-4 text-center shadow-md">
      <p>© 2024 Modesto Software AB. All rights reserved.</p>
    </footer>

  </body>
</html>