---
jsModuleFiles:
  - '/js/populateContactPage.js'
layout: base.njk
---

<div id="captcha-container" class="text-center">
    <p>
        Nice that you want get in touch!
        To see my contact details, please first verify that you're a human by completing the challenge below.
    </p>
    <form class="mt-6" action="?" method="POST" id="captcha-form" class="space-y-4 md:space-y-0 md:flex md:items-center md:justify-center">
        <div id="captcha-question" class="mb-4 text-lg"></div>
        <div class="flex flex-col sm:flex-row items-center sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <input type="number" id="captcha-answer" name="captcha-answer" class="input input-bordered input-info input-md w-24 sm:w-36">
            <input type="submit" value="Submit" class="btn btn-primary btn-md">
        </div>
        <div id="feedback-message" class="text-red-500 mt-4"></div>
    </form>
</div>

<div id="card-container" class="hidden card card-compact">
    <div class="card-body items-center text-center text-blue-600">
        <div id="contact-container" class="space-y-4">
            <!-- Email -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxs-envelope bx-sm"></i>
            </div>

            <!-- Phone -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxs-phone bx-sm"></i>
            </div>

            <!-- LinkedIn -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxl-linkedin bx-sm"></i>
            </div>

            <!-- Github -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxl-github bx-sm"></i>
            </div>
        </div>
    </div>
</div>