---
css: '/css/boxicons.min.css'
js: '/js/populateContactPage.js'
layout: base.njk
---

<div class="card card-compact">
    <div class="card-body items-center text-center text-blue-600">
        <div class="space-y-4">
            <!-- Email -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxs-envelope bx-sm"></i>
                <a href=""></a>
            </div>

            <!-- Phone -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxs-phone bx-sm"></i>
                <a href=""></a>
            </div>

            <!-- LinkedIn -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxl-linkedin bx-sm"></i>
                <a href="" target="_blank"></a>
            </div>

            <!-- Github -->
            <div class="flex items-center space-x-2 text-lg">
                <i class="bx bxl-github bx-sm"></i>
                <a href="" target="_blank"></a>
            </div>
        </div>
    </div>
</div>