---
jsModuleFiles:
  - '/js/handlePrintResumeEvents.js'
layout: base.njk
---

<div id="contact-section" class="hidden mx-2 pb-3 mb-2">
    <div id="contact-container" class="flex flex-row flex-wrap space-y-1">
        <!-- Email -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxs-envelope bx-sm"></i>
        </div>

        <!-- LinkedIn -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxl-linkedin bx-sm"></i>
        </div>

        <!-- Github -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxl-github bx-sm"></i>
        </div>

        <!-- Phone -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxs-phone bx-sm"></i>
        </div>

    </div>
</div>

<div id="resume-intro-section" class="flex flex-col sm:flex-row items-center space-x-0 sm:space-x-2">
    <div id="resume-text" class="flex-1">
        <div class="text-base space-y-4">{{ content | safe }}</div>
    </div>
    <div class="flex flex-col items-center ml-5">
        <img src="/images/modesto_software_logo_for_light_mode.png" alt="Modesto Software Logo" id="resume-logo" class="hidden w-24 h-auto"/>
        <div id="profile-image-container" class="avatar hidden sm:block">
            <div class="ring ring-primary
                        ring-offset-2 ring-offset-base-100
                        rounded-full w-24">
                <img
                    src="{{ image }}"
                    alt="{{ imageAlt }}"
                >
            </div>
        </div>
        <button id="print-button" class="btn btn-primary mt-4 leading-4 hidden sm:block">
            Print Formatted <br> Resume
        </button>
    </div>
</div>

<div id="resume-first-section" class="resume-section">
    <h2>💼 Work Experience</h2>
    {% for experience in resumeData.experiences %}
    {% if experience.show %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ experience.position }}</h3>
            <h4>{{ experience.company }}</h4>

            <div class="card-intro">
                <div class="flex flex-col gap-4">
                    <div class="meta-row two-rows">
                        <span><span class="meta-category">Location:</span> {{ experience.location.city }}, {{ experience.location.country }}</span>
                        <span><span class="meta-category">Duration:</span> {{ experience.duration.start }} — {{ experience.duration.end }}</span>
                        <span><span class="meta-category">Allocation:</span> {{ experience.allocation }}</span>
                        <span><span class="meta-category">Type:</span> {{ experience.type }}</span>
                    </div>
                </div>
            </div>

            <div class="card-section">
                <h4 class="meta-category">Responsibilities:</h4>
                <ul class="attribute-list">
                    {% for responsibility in experience.responsibilities %}
                    <li class="big">{{ responsibility }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-section">
                <h4 class="meta-category">Achievements:</h4>
                <ul class="attribute-list">
                    {% for achievement in experience.achievements %}
                    <li class="big">{{ achievement }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-section">
                <h4 class="meta-category">Skills:</h4>
                <ul class="attribute-list">
                    {% for skill in experience.skills %}
                    <li class="small">{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="resume-card">
        <div class="card-body">
            <h3>Before software development</h3>
            <p>I worked approx. 5 years in B2B sales and before going to the University I worked as electricican for 2 years.</p>
        </div>
    </div>
</div>

<div class="resume-section">
    <h2>🏅 Certifications</h2>
    {% for certification in resumeData.certifications %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ certification.name }}</h3>
            <div class="flex flex-col gap-4">
                <div class="card-intro">
                    <div class="meta-row">
                        <span><strong>Organization:</strong> {{ certification.issuingOrganization }}</span>
                        <span class="certificate-link"><strong>Link:</strong> <a href="{{ certification.url }}" target="_blank" class="text-blue-500 hover:underline">Click here</a></span>
                        <span><strong>Date:</strong> {{ certification.issueDate }}</span>
                    </div>
                </div>

                <div>
                    <h4 class="meta-category">Skills:</h4>
                    <ul class="attribute-list">
                        {% for skill in certification.skills %}
                            <li class="medium">{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="resume-section">
    <h2>🎓 Education</h2>
    {% for course in resumeData.education %}
    {% if course.show %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ course.name }}</h3>
            
            <div class="flex flex-col gap-4">
                <div class="card-intro">
                    <div class="meta-row">
                        <span><strong>Degree:</strong> {{ course.degree }}</span>
                        <span><strong>School:</strong> {{ course.school }}</span>
                        <span><strong>Time:</strong> {{ course.duration.start }} — {{ course.duration.end }}</span>
                    </div>
                </div>

                <div>
                    <h4 class="meta-category">Skills:</h4>
                    <ul class="attribute-list">
                        {% for skill in course.skills %}
                            <li class="small">{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
