---
jsFile1: '/js/printButton.js'
jsFile2: '/js/populateContactPage.js'
layout: base.njk
---

<div id="contact-section" class="hidden mx-2 mb-3">
    <div id="contact-container" class="flex flex-row flex-wrap space-y-1">
        <!-- Email -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxs-envelope bx-sm"></i>
            <a href=""></a>
        </div>

        <!-- Phone -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxs-phone bx-sm"></i>
            <a href=""></a>
        </div>

        <!-- LinkedIn -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxl-linkedin bx-sm"></i>
            <a href="" target="_blank"></a>
        </div>

        <!-- Github -->
        <div class="flex items-center space-x-2
                    w-1/2 box-border">
            <i class="bx bxl-github bx-sm"></i>
            <a href="" target="_blank"></a>
        </div>
    </div>
    <hr class="h-0.5 my-4 bg-base-300">
</div>

<div id="resume-intro-section" class="flex flex-col sm:flex-row items-center space-x-0 sm:space-x-2">
    <div class="flex-1">
        <div class="text-base space-y-4">{{ content | safe }}</div>
    </div>
    <div class="flex flex-col items-center ml-5">
        <img src="/images/logo_dark.png" alt="Company Logo" id="resume-logo" class="hidden w-24 h-auto"/>
        <div id="profile-image-container" class="avatar hidden sm:block">
            <div class="ring ring-primary
                        ring-offset-2 ring-offset-base-100
                        rounded-full w-24">
                <img
                    src="{{ image }}"
                    alt="{{ imageAlt }}"
                >
            </div>
        </div>
        <button id="print-button" class="btn btn-primary mt-4 leading-4">
            Print Formatted <br> Resume
        </button>
    </div>
</div>

<div id="resume-first-section" class="resume-section">
    <h2>💼 Work Experience</h2>
    {% for experience in resumeData.experiences %}
    {% if experience.show %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ experience.position }} at {{ experience.company }}</h3>
            <ul class="experience-details-not-dotted-list flex flex-wrap">
                <li><strong>Location:</strong> {{ experience.location.city }}, {{ experience.location.country }}</p>
                <li><strong>Duration:</strong> {{ experience.duration.start }} — {{ experience.duration.end }}</p>
                <li><strong>Allocation:</strong> {{ experience.allocation }}</p>
                <li><strong>Type:</strong> {{ experience.type }}</p>
            </ul>

            <h4 class="experience-sub-header">Responsibilities:</h4>
            <ul class="list-disc list-inside space-y-1">
                {% for responsibility in experience.responsibilities %}
                <li>{{ responsibility }}</li>
                {% endfor %}
            </ul>

            <h4 class="experience-sub-header">Achievements:</h4>
            <ul class="attribute-list">
                {% for achievement in experience.achievements %}
                <li class="big">{{ achievement }}</li>
                {% endfor %}
            </ul>

            <h4 class="experience-sub-header">Skills:</h4>
            <ul class="attribute-list">
                {% for skill in experience.skills %}
                <li class="small">{{ skill }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="resume-card">
        <div class="card-body">
            <h3>Before software development</h3>
            <p>I worked approx. 5 years in B2B sales and before going to the University I worked as electricican for 2 years.</p>
        </div>
    </div>
</div>

<div class="resume-section">
    <h2>🏅 Certifications</h2>
    {% for certification in resumeData.certifications %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ certification.name }}</h3>
            <div class="flex flex-col sm:flex-row justify-normal">
                <div class="w-full sm:w-2/5">
                    <ul class="certification-skills-not-dotted-list">
                        <li><strong>Issuing Organization:</strong> {{ certification.issuingOrganization }}</li>
                        <li><strong>Issue Date:</strong> {{ certification.issueDate }}</li>
                        <li class="certificate-link"><strong>Certification link:</strong> <a href="{{ certification.url }}" target="_blank" class="text-blue-500">Click here</a></li>
                    </ul>
                </div>
                <div class="flex-1">
                    <h4 class="experience-sub-header">Skills:</h4>
                    <ul class="attribute-list">
                    {% for skill in certification.skills %}
                        <li class="small">{{ skill }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="resume-section">
    <h2>🎓 Education</h2>
    {% for course in resumeData.education %}
    {% if course.show %}
    <div class="resume-card">
        <div class="card-body">
            <h3>{{ course.name }}</h3>
            <p class="text-sm italic">{{ course.degree }} from {{ course.school }}</p>
            {% if featureToggles.resume.showEducationDescription %}
            <p class="text-xs">{{ course.description | safe }}</p>
            {% endif %}
            <p><strong>Time:</strong> {{ course.duration.start }} — {{ course.duration.end }}</p>
            <h4 class="experience-sub-header">Skills:</h4>
            <ul class="attribute-list">
                {% for skill in course.skills %}
                <li class="small">{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
