---
title: "Home"
layout: base.njk
---

<div class="flex flex-col lg:flex-row items-center">
    <img src="{{ image }}" alt="{{ imageAlt }}" class="w-1/2 sm:w-1/2 h-auto mb-4 lg:mb-0 lg:mr-4 rounded-lg shadow-lg order-2 sm:order-1">
    <div class="text-center lg:text-left order-1 sm:order-2">
        <h1 class="text-2xl font-bold mb-2">{{ header }}</h1>
        <p class="text-lg text-base-content">{{ description | safe }}</p>
    </div>
</div>