---
title: "Home"
layout: base.njk
---

<h1 class="text-2xl text-center font-bold mb-3 md:mb-5">{{ header }}</h1>
<div class="flex flex-col md:flex-row items-center md:items-start space-x-0 md:space-x-5">
    <img
        src="{{ image }}"
        alt="{{ imageAlt }}"
        class= "w-10/12 sm:w-3/5 md:w-2/5 xl:w-1/5 2xl:w-1/6 h-auto mb-4
                rounded-md shadow-md
                md:rounded-lg md:shadow-lg
                order-2 md:order-1
                ">
    <div class="flex-1 text-center md:text-left mb-4 md:mb-0
                order-1 md:order-2">
        <div class="text-xl space-y-3 text-base-content">
            {{ content | safe }}
            <p>Feel free to check my <a class="text-blue-600 underline dark:text-blue-500 hover:no-underline" href="/resume">resume</a>, and don't hesitate to <a class="text-blue-600 underline dark:text-blue-500 hover:no-underline" href="/contact">reach out</a>.<p>
        </div>
    </div>
</div>