header, footer, .ad-banner {
    display: none;
}

#cc-main {
    display: none;
}

#page-title {
    margin-bottom: 0.5cm;
}

#print-button {
    display: none;
}

#main-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#profile-image-container {
    margin-left: 0.5cm;
    margin-right: 0.2cm;
}

.resume-section h2 {
    margin: 0.3cm 0 0 0;
    break-after: avoid;
}

.experience-sub-header {
    margin: 0;
}

.resume-card {
    all: unset; /* Removes all styling */
    display: block; /* Ensure it remains a block-level element */
    break-inside: avoid;
}

.card-body {
    padding: 0.3cm 0 0 0;
}

.certificate-link {
    display: none;
}